
.popover-ios .popover-content {
    width: 100%;
    min-width: 100%;
        min-height: 0;
        max-height: 80%;
        border-radius:0;
        background: #fff;
        margin-left: 2px;
        color: #4A4A4A!important;
        border-radius: 3px;
}

    .buttonPopOver{
        color: #4A4A4A!important;
    }