<ion-header no-border>
    <ion-navbar color="primary">
        <ion-title>
            {{name}}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="white" (click)="openMenusHeader($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row *ngFor="let message of messages">
            <!--   <ion-col col-2>
                <div class="chatAvatar">
                    <ion-img [src]="photo"></ion-img>
                </div>
            </ion-col> -->

            <ion-col col-12 [class.colLeft]="message.from_id != id_user" (tap)="message.toggle = !message.toggle">
                <div [class.chatMessageLeft]="message.from_id != id_user" [class.chatMessageRight]="message.from_id == id_user">
                    <div [class.chatMessageTextLeft]="message.from_id != id_user" [class.chatMessageText]="message.from_id == id_user">
                        <span>    {{message.message}}</span>

                    </div>
                    <span class="date-message" *ngIf="message.toggle"> {{message.date | amTimeAgo:'true'}}</span>
                </div>
            </ion-col>

        </ion-row>

    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar color="light">

        <textarea spellcheck="true" autoComplete="true" autocorrect="true" rows="1" fz-elastic class="chat-input" [(ngModel)]="message"
            placeholder="Escreva um mensagem...">
		</textarea>

        <ion-buttons right class="send-message">
            <button class="send-message" ion-button icon-only color="primary" (click)="sendMessage(message)">
                <ion-icon name="md-send"></ion-icon>
            </button>
        </ion-buttons>

    </ion-toolbar>
</ion-footer>