<button ion-item>
                <ion-thumbnail item-left>
                    <img [src]="photo">
                    <span class="searchDay"><div class="searchDaySize"></div>  {{date | date:"d"}}<div class="searchMounthSize">{{date | date:"MMM"}}</div></span>
                </ion-thumbnail>
                <div style="margin-top:-2px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                    <p><span class="bold font-grey4">{{name}}</span></p>
                    <p class="font-sm" *ngIf="creator"><span class="font-grey4" >Criado por <span class="bold font-third">{{creator}}</span></span></p>
                    <p class="font-sm"><span class="font-grey3">{{date | date}} </span></p>
                </div>
            </button>