page-modal-discussion {

}
.formDiscussion{
    height: 95%;
}
.textareaStyle{
    border-radius: 0;
    background-color: transparent;
    border-color: transparent;
    min-height: 95%!important;

}
