<button *ngIf="typeUser == 0" ion-item class="fixAvatar">
    <ion-avatar item-left>
        <img src="./assets/imgs/caritas.png">
    </ion-avatar>
    <p text-wrap><span class="bold font-grey4">Cáritas</span></p>
    <p class="font-sm"><span color="grey3">233 ações criadas</span></p>
</button>

<button *ngIf="typeUser == 1" ion-item class="fixAvatar">
    <ion-avatar item-left>
        <img src="./assets/imgs/vasco.png">
    </ion-avatar>
    <p text-wrap><span class="bold font-grey4">Vasco Silva</span></p>
    <p class="font-sm"><span color="grey3">10 ações criadas</span></p>
</button>

