.btnEntryTop{
    padding-right: 0!important;
    padding: 0!important
}

.btnEntry{
    width: 100%;
}

.btnEntryColor{
    color:#0F76F7;
}

.iconFacebookEntry{
    color:#0F76F7!important;
}

.contentEntry{
    height: 100%;
    display: block;
    vertical-align: middle;
}

.logoVolum{
    text-align: center;
}

.logoVolum > img{
    width: 40%;
}

.textEntry{
    text-align: center;
}

.button-outline-ios-white.activated{
    color:#0F76F7!important
} 


