<ion-header no-border>
    <ion-navbar color="primary">
        <ion-title>
            Notificações
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="light" (click)="openMenusHeader($event)">
            <ion-icon name="more"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="content-background" padding-top>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list no-lines no-border>

        <!-- SEGUIDORES -->
        <button ion-item class="fixAvatar" *ngFor="let notification of notifications" (tap)="visit(notification.id_user, notification.id_vol, notification.type, notification.vol_name, notification.user_name, notification.photo_url)">
                <ion-avatar item-left>
                    <img [src]="notification.photo_url">
                </ion-avatar>
                <ng-container  *ngIf="notification.type == 1">
                  <p text-wrap class="font-grey4" ><span class="bold font-grey4">{{notification.user_name}}</span> candidatou-se à tua ação <span class="bold font-third">{{notification.user_name}}</span></p>
                  <p class="font-sm"><ion-icon name="logo-rss" color="one" class="iconList"></ion-icon><span class="font-grey3">{{notification.date | amTimeAgo: 'true'}}</span></p>

            
                </ng-container>
                <ng-container  *ngIf="notification.type == 2">
                  <p text-wrap class="font-grey4" ><span class="bold font-grey4">{{notification.user_name}}</span> começou a seguir-te</p>
                  <p class="font-sm"><ion-icon name="person-add" color="two" class="iconList"></ion-icon><span class="font-grey3">{{notification.date | amTimeAgo: 'true'}}</span></p>

                </ng-container>

                <ng-container  *ngIf="notification.type == 3">

                <p text-wrap class="font-grey4" ><span class="bold font-grey4">{{notification.user_name}}</span> gosta da tua ação <span class="bold font-third">{{notification.vol_name}}</span></p>
                  <p class="font-sm"><ion-icon name="thumbs-up" color="three" class="iconList"></ion-icon><span class="font-grey3">{{notification.date | amTimeAgo: 'true'}}</span></p>

                </ng-container>

                <ng-container  *ngIf="notification.type == 4">
                  <p text-wrap class="font-grey4"  *ngIf="notification.type == 4"><span class="bold font-grey4">{{notification.user_name}}</span> comentou a tua ação <span class="bold font-third">{{notification.vol_name}}</span></p>
                  <p class="font-sm"><ion-icon name="text" color="four" class="iconList"></ion-icon><span class="font-grey3">{{notification.date | amTimeAgo: 'true'}}</span></p>

                </ng-container>

                <ng-container  *ngIf="notification.type == 5">

                  <p text-wrap class="font-grey4" ><span class="bold font-grey4">Parabéns!</span> Foste confirmado na ação <span class="bold font-third">{{notification.vol_name}}</span></p>
                  <p class="font-sm"><ion-icon name="happy" color="four" class="iconList"></ion-icon><span class="font-grey3">{{notification.date | amTimeAgo: 'true'}}</span></p>

                </ng-container>

                <ng-container  *ngIf="notification.type == 6">

                    <p text-wrap class="font-grey4" ><span class="bold font-grey4">Parabéns!</span> Terminaste a ação <span class="bold font-third">{{notification.vol_name}}</span></p>
                  <p class="font-sm"><ion-icon name="happy" color="four" class="iconList"></ion-icon><span class="font-grey3">{{notification.date | amTimeAgo: 'true'}}</span></p>


                </ng-container>

                <ng-container  *ngIf="notification.type == 7">
            
                <p text-wrap class="font-grey4" ><span class="bold font-grey4">{{notification.user_name}}</span> convidou-te para a sua ação <span class="bold font-third">{{notification.vol_name}}</span></p>
                  <p class="font-sm"><ion-icon name="mail" color="four" class="iconList"></ion-icon><span class="font-grey3">{{notification.date | amTimeAgo: 'true'}}</span></p>

                </ng-container>
                                


        </button>
        <div class="text-center">
            <span class="font-grey-4" *ngIf="notifications && notifications.length == 0"> Sem Notificaçoes </span>

        </div>
    </ion-list>



    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>