<ion-card no-margin class="cardVolum margin-item">
            <ion-item>
                <ion-thumbnail item-left>
                    <img src="./assets/imgs/BancoAlimentar.png">
                    <span class="searchDay searchDayCard"><div class="searchDaySize">20</div><div class="searchMounthSize">maio</div></span>
                </ion-thumbnail>
                <p class="bold font-grey4">Recolha de Alimentos</p>
                <p class="font-grey4 font-sm">Criado por <span class="font-third bold">Banco Alimentar</span></p>
                <p class="font-sm font-grey3">20 de maio às 17 horas</p>
            </ion-item>
            <ion-row class="fixPadding">
                <ion-col class="no-margin-top">
                    <button ion-button small full color="grey1" class="btnInvite no-margin-top" mode="ios">
                        <div>Recusar</div>
                    </button>
                </ion-col>
                <ion-col class="no-margin-top">
                    <button ion-button small full color="secondary" class="btnInvite no-margin-top" mode="ios">
                        <div>Aceitar</div>
                    </button>
              </ion-col>
            </ion-row>
        </ion-card>

        <ion-card no-margin class="cardVolum margin-item">
            <ion-item>
                <ion-thumbnail item-left>
                    <span class="searchDay searchDayNoImage"><div class="searchDaySize">20</div><div class="searchMounthSize">maio</div></span>
                </ion-thumbnail>
                <p class="bold font-grey4">Recolha de Alimentos</p>
                <p class="font-grey4 font-sm">Criado por <span class="font-third bold">Banco Alimentar</span></p>
                <p class="font-sm font-grey3">20 de maio às 17 horas</p>
            </ion-item>
            <ion-row class="fixPadding">
                <ion-col class="no-margin-top">
                    <button ion-button small full color="grey1" class="btnInvite no-margin-top" mode="ios">
                        <div>Recusar</div>
                    </button>
                </ion-col>
                <ion-col class="no-margin-top">
                    <button ion-button small full color="secondary" class="btnInvite no-margin-top" mode="ios">
                        <div>Aceitar</div>
                    </button>
              </ion-col>
            </ion-row>
        </ion-card>
