<ion-header no-border>
    <ion-navbar color="primary">
        <ion-buttons end>
            <button ion-button icon-only color="white" (click)="openMenusHeader($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
        <ion-toolbar color="primary">
            <ion-searchbar [formControl]="searchInput" placeholder="Procurar"></ion-searchbar>
        </ion-toolbar>
    </ion-navbar>
</ion-header>

<ion-content class="content-background" padding-top>

    <ion-list no-lines no-border no-shadow>
        <ion-item class="font-md bold font-grey4 border-bottom" *ngIf="elements.length > 0">Resultados</ion-item>
        <users *ngFor="let element of elements" [typeUser]="0" [user_id]="element.id" [name]="element.name" [photo]="element.photo_url"
            (tap)="visit(element.id, element.name, element.type)"></users>


    </ion-list>



</ion-content>