<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>
        Localização
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="light" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content-background">
    <ion-searchbar no-shadow [formControl]="searchInput" placeholder="Procurar"></ion-searchbar>
    <div padding text-center class="stauts-spinner" *ngIf="showSpinner">
      <ion-spinner color="primary"></ion-spinner>
    </div>
    <ion-list no-lines>
        <button ion-item *ngFor="let search of searching; let i = index" (tap)="setAddress(searching[i])">
            <span class="font-grey4">{{search.formatted_address}}</span>
        </button>
    </ion-list>
</ion-content>